#container {
  margin: 0px;
  width: 80%;
  height: 100vh;
  float: left;
}

#panel {
  margin: 0px;
  padding: 1rem;
  width: 20%;
  height: 100vh;
  /*position: absolute;*/
  float: right;
  background-color: #ee7f2d;
  color: white;
  font-weight: 2px;
}