h2 {
  padding-left: 1rem;
}

#container {
  margin: 0px;
  width: 80%;
  height: 100vh;
  float: left;
}

#panel {
  margin: 0px;
  width: 20%;
  height: 100vh;
  float: right;
  background-color: #ee7f2d;
  color: white;
  font-weight: 2px;
}

#instructions {
  padding-left: 1rem;
  font-weight: 4px;
}

#preview {
  position: absolute;

}

.dg {
  left: 0px;
}